@model SocialMediaWeb.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}


@if (TempData["ErrorMessage"]!=null)
            {
                <div class="alert alert-info">
                    @TempData["ErrorMessage"]
                </div>
            }

<h2>Change password</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="">
        @Html.LabelFor(m => m.OldPassword)
        @Html.PasswordFor(m => m.OldPassword, new { @class = "" })
        @Html.ValidationMessageFor(m => m.OldPassword)
    </div>

    <div class="">
        @Html.LabelFor(m => m.NewPassword)
        @Html.PasswordFor(m => m.NewPassword, new { @class = "" })
        @Html.ValidationMessageFor(m => m.NewPassword)
    </div>

    <div class="">
        @Html.LabelFor(m => m.ConfirmPassword)
        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "" })
        @Html.ValidationMessageFor(m => m.ConfirmPassword)
    </div>

    <button type="submit" class="">Change Password</button>
}
