@model SocialMediaWeb.Models.ProfileViewModel

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<link href="~/Content/CustomCSS/UserCSS/ViewProfile.css" rel="stylesheet" />

<div class="profile-container">
    <div class="profile-header">
        @if (!string.IsNullOrEmpty(Model.ProfilePicture))
        {
            <div class="profile-picture">
                
                <img src="data:image/jpeg;base64,@Model.ProfilePicture" alt="Profile Picture" />
            </div>
        }
    </div>

    <div class="profile-details">
        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.Email)</div>
            <div class="profile-value">@Html.DisplayFor(model => model.Email)</div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.FirstName)</div>
            <div class="profile-value">@Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)</div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.DateOfBirth)</div>
            <div class="profile-value">@Model.DateOfBirth.ToShortDateString()</div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.Gender)</div>
            <div class="profile-value">
                @if (Model.Gender == "M")
                {
                    <span>Male</span>
                }
                else
                {
                    <span>Female</span>
                }
            </div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.PhoneNumber)</div>
            <div class="profile-value">@Html.DisplayFor(model => model.PhoneNumber)</div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.Address)</div>
            <div class="profile-value">@Html.DisplayFor(model => model.Address)</div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.StateName)</div>
            <div class="profile-value">@Html.DisplayFor(model => model.StateName)</div>
        </div>

        <div class="profile-item">
            <div class="profile-label">@Html.DisplayNameFor(model => model.DistrictName)</div>
            <div class="profile-value">@Html.DisplayFor(model => model.DistrictName)</div>
        </div>
        <div class="profile-item">
            
                @Html.ActionLink("Edit Profile", "EditProfile", new { id = Model.UserID }, new { @class = "btn btn-primary" })
            
        </div>
    </div>
</div>


