@model SocialMediaWeb.Models.FriendsProfile
@{
    ViewBag.Title = "ViewFriendsProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}
<link href="~/Content/CustomCSS/UserCSS/ViewFriendsProfile.css" rel="stylesheet" />
<div class="profile-container">  
    <div class="flex-container">
        <div class="profile-picture">
            @if (!string.IsNullOrEmpty(Model.Profile.ProfilePicture))
            {
                
                <img src="data:image/jpeg;base64,@Model.Profile.ProfilePicture" alt="Profile Picture" width="150" height="150"  />

            }
            else
            {
                <p>No Profile Picture</p>
            }
        </div>

        <div class="name">
            <h2>@Model.Profile.FirstName @Model.Profile.LastName</h2>
        </div>

        <div class="follower-details">
            @if (Model.IsFollower)
            {
                
                <form action="@Url.Action("Unfollow", "User", new { userId = Model.Profile.UserID })" method="post">
                    <button type="submit" class="btn btn-danger">Unfollow</button>
                </form>
            }
            else
            {
                
                <form action="@Url.Action("Follow", "User", new { userId = Model.Profile.UserID })" method="post">
                    <button type="submit" class="btn btn-primary">Follow</button>
                </form>
            }





            <span>following  @Model.FollowingCount</span>
            <span>followers @Model.FollowersCount</span>
        </div>

        <div class="posts">

            @foreach (var post in Model.Posts)
            {
                if (!string.IsNullOrEmpty(post.ImageUrl))
                {
                    <img src="data:image/jpeg;base64,@post.ImageUrl" alt="Post Image" class="image-post" />
                }

            }

        </div>

    </div>

    
    

</div>
