@model SocialMediaWeb.Models.ProfileViewModel

@{
    ViewBag.Title = "ViewProfile";
    Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h2>My profile</h2>

<div>
    
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.ProfilePicture)
        </dt>

        <dd>
            @if (!string.IsNullOrEmpty(Model.ProfilePicture))
            {
                <img src="@Url.Content(Model.ProfilePicture)" alt="Profile Picture" />
            }
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
            @Html.DisplayFor(model => model.LastName)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>



        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DistrictName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DistrictName)
        </dd>

    </dl>
</div>
<p>

    @Html.ActionLink("Edit Profile", "EditProfile", new { id = Model.UserID }) |

</p>
