@model SocialMediaWeb.Models.ChangePassword
@{
    ViewBag.Title = "AdminChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/CustomCSS/ChangePassword.css" rel="stylesheet" />
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-info">
        @TempData["ErrorMessage"]
    </div>
}

<div class="password-change-container">
    <h2>Change Password</h2>

    @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "password-change-form" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            @Html.LabelFor(m => m.OldPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", id = "UserPassword" })
            <span id="UserPasswordError" class="text-danger"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.NewPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", id = "NewPassword" })
            <span id="NewPasswordError" class="text-danger"></span>
        </div>

        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", id = "ConfirmPassword" })
            <span id="ConfirmPasswordError" class="text-danger"></span>
        </div>

        <button type="submit" id="submitBtn" class="btn btn-primary">Change Password</button>
    }
</div>

@section Scripts {
    
    <script src="~/Scripts/CustomScript/ChangePassword.js"></script>
}