@model List<SocialMediaWeb.Models.ProfileViewModel>

@{
    ViewBag.Title = "User List";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<link href="~/Content/CustomCSS/AdminCSS/UserList.css" rel="stylesheet" />
<h2>User List</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Active status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@(user.isActive == 1 ? "Active" : "Inactive")</td>
                <td>
                    <a href="@Url.Action("ViewUserDetails", "Admin", new { id = user.UserID })" class="btn btn-primary">View Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
